*{
    margin: 0;
    padding: 0;
   
}
html,body {
    color: #8d8d8d;
    background-color: #faf4f2;
}
.clear {
    clear: both;
}

#header {
    
    background-color: #f8e1db;
    padding: 10px 70px;
    
}
#header ul{
    list-style: none;
    margin-top: 10px;
}
#header ul a{
 
    text-decoration: none;
    color: #3b3735;
    font-size: 18px;
}
#header li{
    display: inline;
    margin-right: 40px;
}

#header .active a{
    color: #e77251;
}
/* carousel */

#carousel{
    background-image: url(../images//BG.png);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 200px 200px;
   
}
/* service */
#service {
margin-top: -160px;
}
#service .list_service{

}
#service .service_item{
float: left;
width: 25%;
padding: 20px;
box-sizing: border-box;

}
#service .service_item img{
        height: 80px;
    }
#service .service_item .text{
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
}
#service .service_item .text h4{
   padding: 8px 0 0 0;
   font-size: 18px;
}
/* Activities */
#activities .activities_title{
    text-align: center;
    font-size: 25px;
}

#activities .activities_item{
   float: left;
   width: 25%;
   padding: 20px;
   text-align: center;
   box-sizing: border-box;
}
#activities .activities_item img{
    width: 100%;
    border-radius: 20px;
}
#activities .activities_item .activities_text{
    background-color: white;
    padding: 35px;
    border-radius: 20px;
}
#activities .activities_item .activities_text h3{
    color: black;
    padding: 20px 20px ;
 }
#activities .activities_item .activities_text p{
   padding: 0px 0 20px 0;
}
#activities .activities_item .activities_text button{
    border-radius: 35px;
    width: 180px;
    height: 40px;
    border: none;
    font-size: 16px;
    
 }
 .activities_text .activities_image {
    position: relative;
   
 }
 .activities_text .activities_image i{
   position: absolute;
   top:20px;
   right: 20px;
   color: #e77251;
   font-size: 15px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 15px;
   
}
#activities .activities_list .activities_all {
      color: #e77251;
      border: 1px solid #e77251;
      border-radius: 35px;
      padding: 13px 71px;
      background-color: transparent;
      outline: none;
     
}  
.activities_text button:hover,#activities .activities_list .activities_all:hover{
      background-color: #e77251;
      color: white;
      cursor: pointer;
}  
.activities_list{
    text-align: center;
}

/* contact */
.contact {
    background-color: #f8e1db;
   border-radius: 20px;
   margin-bottom: 100px;
   overflow: hidden;
    margin-top: 20px;
    height: 400px;
}
.contact_left,.contact_right{
    float: left;
    height:inherit;
    width: 50%;
    padding: 60px;
    box-sizing: border-box;
    
}
.contact_left{
   background: url(../images/mask.png);
   background-size: cover;
   background-position: center;
}
.contact_right{
   padding-top: 90px;
}
.contact_right p{
    margin: 12px 0 30px;
}
.contact_right h3{
    margin-bottom: 21px;
}
.contact_app,.contact_us{
    float: left;
    width: 50%;

}
.contact_app img{
    cursor: pointer;
}
.contact_us i{
    color: #e77251;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}
/* Footer */
 .footer{
    background-color: #f8e1db;
    border-radius: 100px 100px 0 0;
    padding: 100px 30px;
    color:#3b3735;
   
}
.footer h3{
    font-size: 18px;
    margin-bottom: 21px;
}
.footer_about{
   float: left;
   width: 40%;
   line-height: 28px;
   padding: 0 20px;
   box-sizing: border-box;
   padding-right: 40px;
}
.footer_list{
    float: left;
    width: 60%;
    padding: 0 20px;
    box-sizing: border-box;
}
.footer_nav{
    float: left;
    width: 33.33%;  
  
} 

 .footer_nav li{
    list-style: none;
    margin-bottom: 12px;
}

.footer_nav a{
    text-decoration: none;
    color: #3b3735;
}

.footer_copyrights{
   text-align: center;
   padding-top: 30px;
}  
